.toot-configure {
  padding: 15px;
  background: #f2f2f2;
  border: 1px solid #ddd;
}
.page-form .toot-configure {
  width: 90%;
  margin: auto;
}

.toot-hidden {
  display: none;
}

.toot-button {
  background: none;
  border: none;
  color: #4ea2df;
}
.toot-button:hover,
.toot-button:focus {
  text-decoration: underline;
}

.toot-url {
  color: #4ea2df;
}
.toot-tag {
  color: #d9e1e8;
}

.toot-preview-wrapper {
  margin: 10px 0;
}
.toot-preview {
  max-width: 580px;
  margin: 5px 0;
  padding: 15px;
  border-radius: 5px;
  background-color: #282C37;
  color: #fff;
  text-align: left;
}
.toot-preview a {
  color: #4ea2df;
}
.toot-preview-cw-button {
  display: inline-block;
  margin-left: 5px;
  padding: 3px 5px;
  background: #606984;
  border-radius: 2px;
  border: 0;
  color: #282c37;
  font-weight: 700;
  font-size: 11px;
  padding: 0 6px;
  text-transform: uppercase;
  line-height: 20px;
  cursor: pointer;
  vertical-align: middle;
}
.toot-preview-cw {
  margin-top: 15px;
}
.toot-preview-has-cw-hidden .toot-preview-cw{
  display: none;
}
